#root{
  background-color:  rgb(7, 8, 8);
}
.Card{
  width:100%
}

.card-image {
  height: 250px;         /* uniforma altezza */
  width: 100%;           /* occupa tutto lo spazio orizzontale */
  object-fit: cover;     /* riempie l’area senza deformare */
  border-top-left-radius: 4px;  /* opzionale: migliora look */
  border-top-right-radius: 4px; /* opzionale: migliora look */
}
.button:hover {
  background-color: rgb(109, 219, 6) !important;
  border:none !important
}

body{
  height:100%
}