#root{
  background-color:  rgb(0, 0, 0)
}
.Card{
  width:100%
}

.card-image {
  height: 250px;         /* uniforma altezza */
  width: 100%;           /* occupa tutto lo spazio orizzontale */
  object-fit: cover;     /* riempie l’area senza deformare */
  border-top-left-radius: 4px;  /* opzionale: migliora look */
  border-top-right-radius: 4px; /* opzionale: migliora look */
}
.button:hover {
  background-color: rgb(154, 133, 248) !important;
  border:none !important;
  cursor:pointer !important
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
